* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #ACACAC;
}

.nav{
    width: 100%;
    height: 60px;
    border-bottom: 1px #2600FF solid;
}
    .nav img{
        /* width: 1.5rem; */
        margin-top: 20px;
        margin-left: 20px;
        height: 1.5rem;
    }
    .nav img:hover{
        content: url(assets/y.png);
    }

.grid{
    display: grid;
    grid-template-columns: 1.5fr .5fr 1.5fr;
    font-family: artigo, serif;
    color: #2600FF;
    font-weight: 400;
    border-bottom: #2600FF 1px solid;
}

    span{
        font-weight: 700;
        font-style: italic;
    }
    a{
        font-family: artigo, serif;
        color: #2600FF;
        font-weight: 700;
        font-style: italic;
        border-right: #2600FF 1px solid;
        padding: 1rem;
    }
    p{
        border-right: #2600FF 1px solid;
        padding: 1rem;
    }
    li{
        display: inline-block;
        margin-right: 5px;
        padding: 1rem;
        font-weight: 700;
        font-style: italic;
        text-decoration-line: underline;
        text-decoration-style: solid;   
    }
